{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="mt-4 mx-auto">
                <h1 class="display-4 logo-font text-purple text-center">
                    Enhance your PC
                </h1>
                <div class="my-5 w-100">
                    <h4 class="text-center">
                        <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 py-3">Browse Products</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}