{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="mt-5 mx-auto">
                <h1 class="logo-font text-purple text-center col-12">
                    Enhance Your PC
                </h1>
                <h2 class="logo-font text-purple text-center col-12">
                    Make Your PC Better
                </h2>
                <div class="my-5 w-100 row">
                    <h4 class="text-center col-md-5">
                        <a href="{% url 'products' %}" class="logo-font shop-now-button btn btn-lg rounded-0 py-3">STORE</a>
                    </h4>
                    
                    <span class="col-md-2"></span>

                    <h4 class="text-center col-md-5">
                        <a href="{% url 'blog' %}" class="logo-font shop-now-button btn btn-lg rounded-0 py-3">BLOG</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}