html {
    height: 100%;;
}

body {
    background: url('/media/background2.jpg') no-repeat center fixed;
    background-size: cover;
    height: calc(100vh - 164px);  /* the 164px is the height of the header, therefore we subtract this from the image */
    color: rgb(20, 20, 20);    /* CHANGE THIS */
    font-family: 'Righteous', cursive;   /* CHANGE THIS */
}

#topnav {
    background-color: #220038;
    color: white;
}

.navbar-light .navbar-nav .nav-link {
    color: #220038;
}

.dropdown-menu {
    border-color: #220038;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.main-logo-link {
    width: fit-content;  /* makes sure text takes up space required and no more */
}

.shop-now-button {
    background: #220038;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.btn-outline-black {    
    background: white;
    color: black !important; /* use important to override link colors for <a> elements */
    border: 1px solid black;
}

.btn-outline-black:hover,   /* change these names to purple */
.btn-outline-black:active,
.btn-outline-black:focus {
    background: #220038;
    color: white !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,       /* change these names to purple */
.btn-black:active,
.btn-black:focus {
    background: #220038;
    color: white;
}

.text-black {
    color: #000 !important;
}

.text-purple {
    color: #220038;
}

.text-white {
    color: white;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background: #000 !important;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;    /* this will ensure the overlay sits behind the content */
}

a.category-badge > span.badge:hover {
    background: #212529 !important;   /* this colour matches the bootstrap dark class. This is to match the button with the dark class on them */
    color: #fff !important;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link {
    cursor: pointer;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}