<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-purple mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-purple mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>      <!-- sorting syntax that we use in the products' views.py file-->
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-purple mr-5" href="#" id="components-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Components
            </a>
            <div class="dropdown-menu" aria-labelledby="components-link">
                <a href="{% url 'products' %}?category=graphics_card" class="dropdown-item">Graphics Card</a>
                <a href="{% url 'products' %}?category=processor" class="dropdown-item">Processor</a>
                <a href="{% url 'products' %}?category=memory" class="dropdown-item">Memory</a>
                <a href="{% url 'products' %}?category=motherboard" class="dropdown-item">Motherboard</a>
                <a href="{% url 'products' %}?category=storage" class="dropdown-item">Storage</a>
                <a href="{% url 'products' %}?category=power_supply" class="dropdown-item">Power Supply</a>
                <a href="{% url 'products' %}?category=case" class="dropdown-item">Case</a>
                <a href="{% url 'products' %}?category=graphics_card,processor,memory,motherboard,storage,power_supply,case" class="dropdown-item">All Components</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-purple mr-5" href="#" id="peripherals-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Peripherals
            </a>
            <div class="dropdown-menu" aria-labelledby="peripherals-link">
                <a href="{% url 'products' %}?category=mouse" class="dropdown-item">Mouse</a>
                <a href="{% url 'products' %}?category=keyboard" class="dropdown-item">Keyboard</a>
                <a href="{% url 'products' %}?category=monitor" class="dropdown-item">Monitor</a>
                <a href="{% url 'products' %}?category=headset" class="dropdown-item">Headset</a>
                <a href="{% url 'products' %}?category=headphones" class="dropdown-item">Headphones</a>
                <a href="{% url 'products' %}?category=speakers" class="dropdown-item">Speakers</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-purple mr-5" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                PCs and Laptops
            </a>
            <div class="dropdown-menu" aria-labelledby="homeware-link">
                <a href="{% url 'products' %}?category=desktop_pc" class="dropdown-item">Desktop PCs</a>
                <a href="{% url 'products' %}?category=gaming_pc" class="dropdown-item">Gaming PCs</a>
                <a href="{% url 'products' %}?category=laptop" class="dropdown-item">Laptops</a>
            </div>
        </li>
    </ul>
</div>