<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-purple mr-5" href="#" id="components-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Components   <!-- THIS PART IS WHERE "ALL PRODUCTS ARE IN THE LESSONS"-->
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="components-link">
                <a href="" class="dropdown-item">Graphics Card</a>
                <a href="" class="dropdown-item">Processor</a>
                <a href="" class="dropdown-item">Memory (RAM)</a>
                <a href="" class="dropdown-item">Motherboard</a>
                <a href="" class="dropdown-item">Storage</a>
                <a href="" class="dropdown-item">Power Supply</a>
                <a href="" class="dropdown-item">Case</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-purple mr-5" href="#" id="peripherals-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Peripherals
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="peripherals-link">
                <a href="" class="dropdown-item">Mouse</a>
                <a href="" class="dropdown-item">Keyboard</a>
                <a href="" class="dropdown-item">Monitor</a>
                <a href="" class="dropdown-item">Headset</a>
                <a href="" class="dropdown-item">Headphones</a>
                <a href="" class="dropdown-item">Speakers</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-purple mr-5" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                PCs and Laptops
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="" class="dropdown-item">Desktop PCs</a>
                <a href="" class="dropdown-item">Gaming PCs</a>
                <a href="" class="dropdown-item">Laptops</a>
            </div>
        </li>
    </ul>
</div>