{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="row">
        <div class="col container mt-3">
            <a href="{% url 'blog' %}" class="btn btn-outline-black rounded-0 btn-lg ml-2">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span class="text-uppercase">Back</span>
            </a>
            <h2 class="logo-font text-center">{{ post.title }}</h2>
            <p class="text-center"> 
                By: {{ post.author.username }} -
                {{ post.post_date }}

            </p>
            {% if request.user.is_superuser %}
                <div class="col mt-2 text-center">
                    <a class="" href="{% url 'edit_post' post.pk %}">
                        <strong>Edit</strong> 
                    </a>
                    |
                    <a class="text-danger" href="{% url 'delete_post' post.pk %}">
                        <strong class="text-danger">Delete</strong>
                    </a>
                </div>
            {% endif %}

            <hr class="w-50 mb-3">

            <div class="d-block mx-auto my-3">
                {% if post.header_image %}
                    <img class="d-block mx-auto" src="{{ post.header_image.url }}" alt="{{ post.header_image.url }}"> 
                {% else %}
                    <img class="d-block mx-auto" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.title }}">
                {% endif %}
            </div>

            <div class="container">
                {{ post.body|safe }}
            </div>
            
            <br><br>
            <hr>
                <form method="POST" action="{% url 'like_post' post.pk %}" >
                    {% csrf_token %}
                    {% if user.is_authenticated %}
                        {% if liked %}
                            <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-outline-black rounded-0 btn-sm">
                                <span class="icon">
                                    <i class="fas fa-thumbs-down"></i>
                                </span>
                                Unlike ({{ total_likes }})
                            </button>
                        {% else %}
                            <button type="submit" name="post_id" value="{{ post.id }}" class="btn purple-button rounded-0 btn-sm">
                                <span class="icon">
                                    <i class="fas fa-thumbs-up"></i>
                                </span>
                                Like ({{ total_likes }})
                            </button>
                        {% endif %}
                    {% else %}
                        <p>You must be <a href="{% url 'account_login' %}">signed in</a>  to like this article.</p>
                        <button type="submit" name="post_id" value="{{ post.id }}" class="btn purple-button rounded-0 btn-sm">
                            <span class="icon">
                                <i class="fas fa-thumbs-up"></i>
                            </span>
                            Like ({{ total_likes }})
                        </button>
                    {% endif %}

                    <br>
                    
                </form>
            <hr>
        </div>
    </div>
{% endblock %}