{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="row container mx-auto">
        <div class="col container mt-3 mx-auto">
            <a href="{% url 'blog' %}" class="btn btn-outline-black rounded-0 btn-lg ml-2">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span class="text-uppercase">Back</span>
            </a>
            <h2 class="logo-font text-center">{{ post.title }}</h2>
            <p class="text-center"> 
                By: {{ post.author.username }} -
                {{ post.post_date }}
            </p>

            <div class="text-center">
                <form method="POST" action="{% url 'like_post' post.pk %}" >
                    {% csrf_token %}
                    {% if user.is_authenticated %}
                        {% if liked %}
                            <button type="submit" name="post_id" value="{{ post.id }}" class="btn purple-button rounded-0 btn-sm">
                                <span class="icon">
                                    <i class="fas fa-thumbs-down"></i>
                                </span>
                                Unlike ({{ total_likes }})
                            </button>
                                <p>Thanks for liking this post!</p>
                        {% else %}
                            <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-outline-black rounded-0 btn-sm">
                                <span class="icon">
                                    <i class="fas fa-thumbs-up"></i>
                                </span>
                                Like ({{ total_likes }})
                            </button>
                            <p>Enjoyed the article? Give it a like!</p>
                        {% endif %}
                    {% else %}
                        <p>You must be <a href="{% url 'account_login' %}">signed in</a>  to like this article.</p>
                        <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-outline-black rounded-0 btn-sm">
                            <span class="icon">
                                <i class="fas fa-thumbs-up"></i>
                            </span>
                            Like ({{ total_likes }})
                        </button>
                    {% endif %}
                </form>
            </div>

            {% if request.user.is_superuser %}
                <div class="col mt-2 text-center">
                    <a class="" href="{% url 'edit_post' post.pk %}">
                        <strong>Edit</strong> 
                    </a>
                    |
                    <a class="text-danger" href="{% url 'delete_post' post.pk %}">
                        <strong class="text-danger">Delete</strong>
                    </a>
                </div>
            {% endif %}

            <hr class="w-50 mb-3">

            <div class="col d-block mx-auto my-3">
                {% if post.header_image %}
                    <img class="d-block mx-auto article-image" src="{{ post.header_image.url }}" alt="{{ post.header_image.url }}"> 
                {% else %}
                    <img class="d-block mx-auto article-image" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.title }}">
                {% endif %}
                <hr class="w-50 mb-1">
            </div>

            <div class="container">
                {{ post.body|safe }}
            </div>
            
            <br><br>                
            

            <div class="container">
                <hr>
                <h4>Comments...</h4>
                <hr>

                {% if not post.comments.all %}
                    No Comments Yet... <a href="{% url 'add_comment' post.pk %}">Add One</a>
                {% else %}
                <br><br>
                <a href="{% url 'add_comment' post.pk %}">Add Comment</a>
                <br><br>
                    {% for comment in post.comments.all reversed %}
                        <strong>{{ comment.name }}</strong>  <small class="text-muted">{{ comment.date_added }}</small>
                        
                        <br>
                        {{ comment.body }}
                        <br> <br>

                        
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}